<!DOCTYPE html>
<html>
<head>
    <title>Register - Face Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>Register New Face</header>
    <div class="container">
        <form method="POST">
            <input type="text" name="username" placeholder="Enter your name" required>
            <br>
            <input type="submit" value="Start Camera & Capture">
        </form>
        <div>
            <img src="{{ url_for('video_feed_register') }}" />
        </div>
    </div>
</body>
</html>
